body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    /*height: 100%;
    min-height: 100%;*/
}

#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

/*html {
    height: 100%;
    min-height: 100%;
}*/

nav {
    display: block;
}

.menu {
    padding-left: 10px;
}

    .menu ul {
        list-style: none;
    }

    .menu li {
        display: inline;
    }

    .menu a:hover {
        color: red;
    }

.nav-link {
    margin-bottom: 0;
}

    .nav-link li {
        display: inline-block;
        float: left;
        padding-right: 20pt;
    }

    .nav-link a {
        color: white;
        font-size: 16pt;
        padding: 15pt;
    }
    .nav-link a:hover {
        background-color: white;
        color: black;
    }

    table {
        vertical-align: middle;
        text-align: left;
    }

.header {
    font-weight: bold;
}

td {
    padding-right: 10px;
}

.shapka {
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    align-content: center;
    margin-bottom: 50pt;
}

    .shapka img {
        align-content: center;
    }

.Desc {
    margin-top: 50pt;
    margin-left: 20%;
    margin-right: 20%;
}

    .Desc p {
        padding-top: 35pt;
        font-size: 15pt;
    }

.SysR {
    margin-top: 50pt;
    margin-left: 20%;
    margin-right: 20%;
}

    .SysR p {
        padding-top: 35pt;
        font-size: 15pt;
    }

    h9 {
        font-size: 30pt;
        padding-bottom: 20pt;
    }

footer {
    text-align: center;
    font-size: 12pt;
    background-color: black;
    color: lightgray;
    padding: 10pt;
    margin-top: 60pt;
    width: 100%;
    bottom: 0;
    position: absolute;
}

#login-btn{
    color: white;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.checkbox {
    float: left;
    display: flex;
    float: left;
    display: flex; 
    justify-content:left; 
    padding-right: 10pt;
}

.RememberMe {
    display: flex;
    float: left;
    margin-right: 30pt;
    position: relative;
}


#registerLink {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top: 5px;
}

    #registerLink:hover {
        color: white;
        background-color: forestgreen;
        border: 1px solid white;
    }


#loginLink {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin-top: 5px;
}

    #loginLink:hover {
        color: white;
        background-color: forestgreen;
        border: 1px solid white;
    }

#navbarSupportedContent {
    align-content:center;
    align-items: center;
    display: inline-flex !important;
}

.navbar-right {
    margin-left: auto;
    margin-right: 1pt;
    top: 5px;
    right: 0;
}

    .navbar-right a {
        color: white;
    }

    .navbar-right a:hover {
        color: black;
    }

