################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DoubleMindWeb/App_Data/DefaultConnection_log.ldf
