@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comments</title>
</head>
<body>
    <div>
        <h3>Commentss</h3>
        <table>
            <tr>
                <td><p>Пользователь</p></td>
                <td><p>Комментарий</p></td>
                <td><p>Оценка</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Comments)
            {
        <tr>
            <td><p>@b.CommentUser.Login</p></td>
            <td><p>@b.CommentText</p></td>
            <td><p>@b.CommentStars</p></td>
            <td><p><a href="/Home">Delete</a></p></td>
        </tr>
            }
        </table>
    </div>
</body>
</html>